.box{
  width: 400px;
  min-height: 30vh;
  margin-top: 56.5px;
}

.layer-signin{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* display: none; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #758184;
  z-index: 2;
}

.gmail-signin{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#signup{
  float: right;
}
button{
  position: relative;
  margin-top: 20px;
}
input{
  margin-top:10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .box{
    width: 300px;
  }
}