.product-home{
  background-color: #758184;
  height: 100%;
  width: 100%;
}


.grid{
  margin-top: 20.5px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: minmax(min-content, max-content);
}
.card{
  background-color: #cfb495;
  max-width: 100%;
  max-height: 100%;
  border-radius: 40px;
  margin: 20px;
  transform: perspective(1500px) rotateY(15deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: transform 1s ease 0s;
}


.subtitle{
  font-size: 1.1em;
}

.card{
  transition: 0.5s;
}

.card:hover{
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.2);
  transform: perspective(3000px) rotateY(5deg);
;
}

#product-img{
  border-radius: 40px;
}

.product-name:hover{
  cursor: pointer;
  text-decoration: underline;
}

.buy-now,.add-to-cart{
  margin: 0;
  max-width: 100px;
}

.buy-now:hover{
  background-color: #111213;
}

.product-name{
  border: 2px solid black;
  border-style: none;
  width: 250px;
  word-wrap: break-word
}

.subtitle{
  margin-bottom: 0;
}

.up-arrow{
  right: 30px;
  bottom: 40px;
  position: fixed;
  z-index: 1000;
  cursor: pointer;
  transition: 1s;
}

.up-arrow:hover{
  box-shadow: 0px 12px 18px -8px rgba(0,0,0,0.75);
}

.up-arrow-yes{
  display: none;
}