.grid{
  background-color: #758184;
  margin-top: 56.5px;
}
.card{
  background-color: #cfb495;
  min-width: 100px;
  min-height: 300px;
  border-radius: 5px;
}

.columns{
  padding: 20px 50px 0px 50px;
}

