.sell-here{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  height: 100vh;
  background-color: #758184;
  z-index:-45;
  margin-top: 54px;
}

#sell-here-box{
  position: absolute;
  margin-top: 0px;
}

.sell-product-heading{
  position: relative;
  font-size: 2em;
  padding-top: 20px;
  height: 100vh;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .sell-product-heading{
    font-size: 1.5em;
  }
}