#cart{
  min-height: 50px;
  margin-top: 20px;
  position: absolute;
  margin: 10px 0px 0px 600px;
}
#quantity{
  display: flex;
  padding-right: 20px;
}

#quantity p{
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid black;
  width: 20px;
  cursor: pointer;
}

p:hover{
  color: aliceblue;
  background: rgb(41, 39, 39,0.8);
}

.heading{
  display: flex;
  justify-content: space-around;
}
.products{
  display: flex;
  justify-content: space-around;
}