
#cart{
  min-height: 50px;
  margin-top: 5px;
  position: absolute;
  right: 1px;
}

.shop-cart{
  background-color: #5d5b6a; 
  border-radius: 50%;
  min-height: 50px;
}

.products{
  display: flex;
  justify-content: space-between;
}
.sub-heading{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.3em;
}

#checkout{
  float: right;
  background: rgb(245, 79, 79);
  border-radius: 5px;
  font-size: 1.2em;
  padding: 0.3em;
  color: rgb(255, 255, 255);
}

#checkout:hover{
  background: rgb(245, 79, 79,.8);
}

#item-head{
  padding-left: 0em;
}

#product-added{
  width: 200px;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  border-width: .2em;
}

#product-added:hover{
  color: red;
  text-decoration: line-through;
}

#product-price-cart{
  position: relative;
  font-weight: 300;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  border-width: .2em;
}

