#cart-main{
  display: fixed;
}

#cart{
  min-height: 50px;
  margin-top: 5px;
  position: absolute;
  right: 1px;
  /* margin: 8px 0px 0px 700px; */
}


.shop-cart{
  background-color: #5d5b6a; 
  border-radius: 50%;
  min-height: 50px;
}

.products{
  display: flex;
  justify-content: space-between;
}
.sub-heading{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.3em;
}

#item-head{
  padding-left: 0em;
}

#product-added{
  width: 200px;
  margin-bottom: 2em;
  border-bottom: 2px solid black;
  border-width: .2em;
}

#product-added:hover{
  color: red;
  text-decoration: line-through;
}

#product-price-cart{
  position: relative;
  font-weight: 300;
  margin-bottom: 2em;
  border-bottom: 2px solid black;
  border-width: .2em;
}

