.home{
  background-image: url(./artisanship.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.layer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(48, 48, 45, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

#buy-online{
  text-transform: uppercase;
  color: antiquewhite;
  font-size: 2em;
}

#title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 10rem;
  color: antiquewhite;
}

.signin{
  position: fixed;
  z-index: 100;
}

@media only screen and (max-width: 600px) {
  .signin{
    padding-left: 30px;
  }
  #title{
    font-size: 3em;
  }
  #buy-online{
    font-size: 1em;
  }
}