#company-name{
  text-transform: uppercase;
  font-size: x-large;
  cursor: pointer;
}
.main{
  background: #5d5b6a;
}

.navbar-item:hover{
  cursor: pointer;
  border-radius: 5px;
  background: #758184;
}

#icon{
  width: 30px;
}