

#company-name{
  text-transform: uppercase;
  font-size: x-large;
  cursor: pointer;
}
.main{
  background: #5d5b6a;
}

.navbar-item{
  font-weight: 500;
  color: #f8f7ff;
  font-size: 1.1em;
  text-transform: uppercase;
}

.navbar-item:hover{
  cursor: pointer;
  border-radius: 5px;
  background: #758184;
}

.navbar{
  transition: all 0.4s ease;
}

#icon{
  width: 60px;
}