#company-name{
  text-transform: uppercase;
  font-size: x-large;
  cursor: pointer;
}
.main{
  background: #5d5b6a;
}

#shop-cart0{
  padding-left: 120px;
}

#shop-cart{
  padding-right: 100px;
}

#icon{
  width: 30px;
}