
.option {
  width: 470px;
  height: 50px;                   
  border: 2px solid black;
  font-size: 1.5em;
  background: white;
  padding: 5px;
  font-weight: 600;
  border-radius: px;
  border-style: none;
  border-left: 5px solid rgb(243, 53, 53);
  transition: background .5s;
}
.option:hover{
  cursor: pointer;
  background: #a5b3b8;
  font-weight: 700;
}

#payment-text{
  letter-spacing: 1px;
  text-decoration: underline;
  text-shadow: 2px 2px rgb(56, 54, 54);
}

.clicked{
  cursor: pointer;
  background: rgb(243, 53, 53);
}

#radio-btn1 > label,#radio-btn2,#radio-btn3,#radio-btn4{
  cursor: pointer;
  transform: scale(1);
  transition: 0.5s;
  color: brown;
}

#radio-btn1:hover,#radio-btn2:hover,#radio-btn3:hover,#radio-btn4:hover{
  transform: scale(1.5);
}

@media only screen and (max-width: 600px) {
  .option{
    width: 350px;
  }
}